#chat id
#grup testing bot local
ID_BOOKING = 
ID_JENKINS = 
ID_REMINDER = 
ID_TODO = 
ID_PRIVATE = 

#AKB48
TOKEN_BOOKING = 
TOKEN_JENKINS = 
TOKEN_REMINDER = 
TOKEN_TODO = 

#AKB48
BOT_BOOKING = 
BOT_JENKINS = 
BOT_REMINDER = 
BOT_TODO = 

#AKB48
NAME_BOOKING = Oshima Yuko
NAME_JENKINS = Matsui Jurina
NAME_REMINDER = Kashiwagi Yuki
NAME_TODO = Maeda Atsuko

DOWNLOAD_URL = 
ENVIRONMENT = 

DB_USER =
DB_PASSWORD =
DB_SCHEMA =

SPREADSHEET = 
