#chat id
ID_BOOKING =
ID_JENKINS =
ID_SNACK =
ID_GROUP =
ID_TODO =
ID_PRIVATE =

#JKT48
TOKEN_BOOKING =
TOKEN_JENKINS =
TOKEN_SNACK =
TOKEN_TODO =

#JKT48
BOT_BOOKING =
BOT_JENKINS =
BOT_SNACK =
BOT_TODO =

#JKT48
NAME_BOOKING = Nabilah Ratna Ayu
NAME_JENKINS = Melody N. Laksani
NAME_SNACK = Shani Indira Natio
NAME_TODO = Jessica Veranda

DOWNLOAD_URL =
ENVIRONMENT =

DB_USER =
DB_PASSWORD =
DB_SCHEMA =

SPREADSHEET_ONCALL =
SPREADSHEET_BANDUNG =

#Admin Oncall
ADMIN1 =
ADMIN2 =
ADMIN3 =
ADMIN4 =
